.product-card {
  max-width: 18vw;
  min-width: 250px;
  margin: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.main-div {
  display: flex;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-div {
  display: flex;
  flex-direction: row;
  // position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cart-action {
  padding: 0px;
}
